body{
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcHgxMTAwMzgxLWltYWdlLWpvYjYzMC1uXzEtbDBnMDdvdWUuanBn.jpg');
}
nav{
    border: 3px solid black;
    
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.537);
}
.MySocial {
  border: solid red;
  border-width: 0.2px;
  text-align: center;
  display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.Sites {
  border-radius: 22px;
  font-size:22px;
  border: solid grey;
  margin: 20px;
  /* width: 100%; */
  padding: 12px;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  display: flex
  ;
}

#Site_a:hover {
  color: white;
  background-color: lightblue;
}
#Site_b:hover {
  
  background-color: rgb(66, 66, 71);
}
#Site_c:hover {
  background-color: rgb(201, 97, 32);
}

.bizPic {
  margin: 1em;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: solid white;
}
.introduction {
  padding: 2rem;
  background-color: #fff;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.IntElement {
  margin-bottom: 1.5rem;
}

.IntElement h4 {
  color: #800000;
  margin-bottom: 0.5rem;
}

.IntElement p {
  line-height: 1.6;
}

.Descriptions{
  background-color: gray;
  
  padding: 2em;
  justify-content: space-evenly;
  text-align: center;
}