body{
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcHgxMTAwMzgxLWltYWdlLWpvYjYzMC1uXzEtbDBnMDdvdWUuanBn.jpg');
}
nav{
  border: 3px solid black;
  padding:8px;
  height: 5vh;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
.int{
  align-items: center;
  display: flex;
  height: 100%;
  margin: 10px;
}
.int img{
  align-items: center;
  height: 100%;
  border-radius: 50%;
}
.int h3{
  text-align: center;
}

.MySocial {
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  /* height: 100%; */
  /* background-color: green; */

}
.Sites {
  align-items: center;
  margin: 10px;

  border-radius: 22px;
  /* font-size:22px; */
  border: solid grey;
  /* width: 100%; */
  padding: 4px;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  display: flex;
  height: 5vh;

}

#Site_a:hover {
  color: white;
  background-color: lightblue;
}
#Site_b:hover {
  
  background-color: rgb(66, 66, 71);
}
#Site_c:hover {
  background-color: rgb(201, 97, 32);
}

.bizPic {
  border-radius: 50%;
  height: 80%;
  width: 80%;
  border: solid white;
}
.introduction {
  padding: 2rem;
  background-color: #fff;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.IntElement h4 {
  color: #800000;
  margin-bottom: 0.5rem;
}

.IntElement p {
  line-height: 1.6;
}

.Descriptions{
  background-color: gray;
  
  padding: 2em;
  justify-content: space-evenly;
  text-align: center;
}